# Make sure tmux recognizes all colors and italics
# myterm-it refers to custom terminfo
# https://www.reddit.com/r/vim/comments/24g8r8/italics_in_terminal_vim_and_tmux/
alias tmux='env TERM=myterm tmux -2'

# Make Vim recognize all colors and italics
if [ -n "$TMUX" ]; then
  alias vim='vim'
else
  alias vim='env TERM=myterm vim'
fi

alias capsoff='setxkbmap -option caps:swapescape'
alias touchoff='xinput disable "ELAN Touchscreen"'
alias fonts='fc-cache -fv'
# Shortcut for cleaning up /boot whenever partition is getting full
#alias cleanboot="sudo apt-get purge $(dpkg -l linux-{image,headers}-'[0-9]*' | awk '/ii/{print $2}' | grep -ve '$(uname -r | sed -r 's/-[a-z]+//')')"

# Collection of Docker & Docker-compose conveniences
alias dc="docker-compose"
function docker-kill() {
  docker kill $(docker ps -q);
}
function docker-ssh() {
  docker exec -i -t $1 /bin/bash;
}
function docker-rm() {
  docker rm $(docker ps -qa);
}
function docker-dangling() {
  docker rmi $(docker images -q --filter 'dangling=true')
}

